{% extends 'inspinia_base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block head_title_base %}HKTDC BOT Admin{% endblock %}
{% block extra_head_css %}
<style>
#send-message-button {
  height: 40px;
  width: 100px;
}
</style>
{% endblock extra_head_css %}


{% block sidebar_items %}
<li class="active">
  <a href="{% url 'fb_chatbot_event_tdc_broadcast' fb_page_id=fb_page.pk %}">
    <i class="fa fa-envelope"></i>
    <span class="nav-label">Broadcast</span>
  </a>
</li>

<li>
  <a href="{% url 'fb_chatbot_event_tdc_send_reminder' fb_page_id=fb_page.pk %}">
    <i class="fa fa-envelope"></i>
    <span class="nav-label">Send Reminder</span>
  </a>
</li>
{% endblock sidebar_items %}


{% block page_title %}Broadcast{% endblock page_title %}


{% block page_items %}
<li><a href="{% url 'fb_chatbot_event_tdc_broadcast' fb_page_id=fb_page.pk %}">Home</a></li>
<li><a href="{% url 'fb_chatbot_event_tdc_broadcast' fb_page_id=fb_page.pk %}">Broadcast</a></li>
<li class="active"><strong>New Message Editor</strong></li>
{% endblock page_items %}


{% block body_block %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>New Message Editor</h5>
      </div>
      <div class="ibox-content">
        <form class="form-horizontal" method="post">
          {% csrf_token %}

          {{ form.non_field_errors }}

          <div class="form-group">
            <label class="col-sm-2 control-label" for="{{ form.event.id_for_label }}">{{ form.event.label }}</label>
            <div class="col-sm-10">
            {% render_field form.event class="form-control m-b" %}
            </div>
          </div>

          <div class="form-group {% if form.message.errors %}has-error{% endif %}" >
            <label class="col-sm-2 control-label" for="id_message">{{ form.message.label }}</label>
            <div class="col-sm-10">
            {% render_field form.message class="form-control m-b" placeholder="Enter your message here..." %}
            <b>{{ form.message.errors.as_text }}</b>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group" >
            <div class="col-sm-4 col-sm-offset-2">
              <button class="btn btn-primary" id="send-message-button" type="submit" name="sendmsg">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body_block %}
