{% extends 'inspinia_base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block head_title_base %}Convert Simply BOT Authentication{% endblock %}
{% block extra_head_css %}
<style>
#next-button {
  padding-top: 32px;
}
</style>
{% endblock extra_head_css %}


{% block sidebar_header %}
  <div class="dropdown profile-element">
    <span><img alt="image" class="img-circle" height="48px" width="48px" src="{{ STATIC_URL }}img/fb_chatbot_event_tdc/hktdc_logo.png" /></span>
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
      <span class="clear">
        <span class="block m-t-xs">
          <strong class="font-bold">HKTDC</strong>
        </span>
        <span class="text-muted text-xs block">Client <b class="caret"></b></span>
      </span>
    </a>
    <ul class="dropdown-menu animated fadeInRight m-t-xs">
      <li class="divider"></li>
      <li><a href="{% url 'fb_chatbot_event_tdc_auth_logout' %}">Logout</a></li>
    </ul>
  </div>
  <div class="logo-element">
    <span><img alt="image" class="img-circle" height="48px" width="48px" src="{{ STATIC_URL }}img/fb_chatbot_event_tdc/hktdc_logo.png" /></span>
  </div>
{% endblock sidebar_header %}


{% block logout_url_1 %}{% url 'fb_chatbot_event_tdc_auth_logout' %}{% endblock logout_url_1 %}
{% block logout_url_2 %}{% url 'fb_chatbot_event_tdc_auth_logout' %}{% endblock logout_url_2 %}
{% block welcome_message %}Powered by Convert Simply.{% endblock welcome_message %}

{% block sidebar_items %}
<li class="active">
  <a href="{% url 'fb_chatbot_event_tdc_fb_auth' %}">
    <i class="fa fa-envelope"></i>
    <span class="nav-label">BOT Authentication</span>
  </a>
</li>
{% endblock sidebar_items %}


{% block page_title %}Convert Simply BOT{% endblock page_title %}


{% block page_items %}
<li>Authentication</a></li>
<li><a href="{% url 'fb_chatbot_event_tdc_fb_auth' %}">Log in Facebook</a></li>
{% endblock page_items %}


{% block body_block %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Log in Facebook</h5>
      </div>
      <div class="ibox-content">
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>

        <div id="status"></div>
        <div id="error-message">{{ error_message }}</div>
      </div>
    </div>
  </div>
</div>
{% endblock body_block %}


{% block extra_body_js %}
<script>
  function statusChangeCallback(response) {
    if (response.status === 'connected') {
      LoginConfirmation();
    } else if (response.status === 'not_authorized') {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{{ settings.CHATBOT_EVENT_TDC_FB_APP_ID }}',
    cookie     : true,  
    xfbml      : true,
    version    : 'v2.11'
  });

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function LoginConfirmation() {
    FB.api('/me', function(response) {
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
      var next_button = document.createElement("div");
      next_button.innerHTML = 
      '<div class="m-t text-righ" id="next-button"><a href="https://graph.facebook.com/oauth/authorize?client_id={{ settings.CHATBOT_EVENT_TDC_FB_APP_ID }}&redirect_uri={{ redirect_uri }}&scope=pages_messaging,manage_pages" class="btn btn-primary">Next</a></div>';
      document.getElementById('status').appendChild(next_button);
    });
  }
</script>
{% endblock extra_body_js %}
