{% extends 'signup_mobile_templates/app_base.html' %}
{% load common_extras %}

{% block fb_app_id %}{{ settings.SNM_TDC_HKJF17_FB_APP_ID }}{% endblock %}

{% block head_title_base %}{% language_option settings.SNM_TDC_HKJF17_FEED_LINK_NAME %}{% endblock %}
{% block og_title %}{% language_option settings.SNM_TDC_HKJF17_FEED_LINK_NAME %}{% endblock %}
{% block og_description %}{% language_option settings.SNM_TDC_HKJF17_FEED_DESCRIPTION %}{% endblock %}
{% block og_image %}{{ settings.SNM_TDC_HKJF17_FEED_PICTURE }}{% endblock %}
{% block og_url %}{{ settings.SNM_TDC_HKJF17_OG_URL }}{% endblock %}

{% block extra_head_css %}
<style>
html {
  overflow: auto;
}
body {
  background: url('//d2dj4eyr0s9m9l.cloudfront.net/linkedin_bg.jpg') repeat;
}
body #wrap {
  margin: 0px;
}

#canvas-wrap {
  margin: 0px auto;

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);

  height: 672px;
  width: 320px;
  background-size: 320px 628px;
  position: relative;

  background-image: url('{{ STATIC_URL }}img/signup_mobile_tdc_hkjf17/tdc_hkjf17_info_mobile_bg_{{ request.language }}_v2.jpg');
}
#register-button {
  height: 36px;
  width: 247px;
  display: block;
  position: absolute;
  top: 313px;
  left: 37px;

  background-image: url('{{ STATIC_URL }}img/tdc_buttons/button_info_mobile_{{ request.language }}.png');
  background-size: 247px 36px;
  background-color: transparent;
}
#footer-link {
  position: absolute;
  bottom: 62px;
  left: 30px;

  font-size: 8px;
  font-style: italic;
}
#footer-link, #footer-link:visited {
  color: #ff7d00;
}
#cs-button {
  height: 44px;
  width: 320px;
  display: block;

  position: absolute;
  top: 628px;
  left: 0px;

  background-image: url('{{ STATIC_URL }}img/tdc_buttons/button_cs_mob.jpg');
  background-size: 320px 44px;
  background-color: transparent;
}
</style>
{% endblock extra_head_css %}

{% block canvas_size %}628{% endblock %}
{% block async_fb_jssdk %}{% endblock async_fb_jssdk %}
{% block app_canvas %}
<div id="canvas-wrap">
  <a id="register-button" href="{{ next_url }}"></a>
  <a id="cs-button" href="http://www.convertsimply.com" target="_blank"></a>
  <a id="footer-link" href="http://www.hktdc.com/sc/" target="_blank">www.hktdc.com</a>
</div>
{% endblock app_canvas %}
